nav  , #searchbtn{
    background-color: #003399;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    /* font-family: 'Roboto', sans-serif; */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn,
.form-control {
    border-radius: 0;
}

#sideNav .active {
    width: 100%;
    position: relative;
    transition: 0.5s;
}

#bar {
    margin-top: 5rem;
}

.active:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    right: -70%;
    bottom: 3px;
    border-radius: 50%;
    border-radius: 144px;
    background: linear-gradient(145deg, #c0c7cb, #e4ecf2);
    box-shadow: 20px 20px 60px #73777a,
        -20px -20px 60px #ffffff;
}

#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
    color: #e9ecef;
}

#first {
    margin-top: 5rem;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse !important;

}
table thead tr:first-child{
    text-transform: uppercase;
}
.table-dark {
    background-color: #ffffff;
    color: black;
    box-sizing: border-box;
    box-shadow: 3px 3px 8px black;
}

tr,
td,
th {
    border: 0px solid #ddd;
    border-bottom: 0 !important;
    border-top: 0 !important;
}

thead:nth-child(2),
tr:nth-child(even) {
    background-color: #ddd;
}

.fa-lg {
    font-size: 1.75rem;
}

.card {
    margin-bottom: 2rem;
    border-radius: 0;
    border: 0;
    background-color: white;



}

table,
.card {
    box-sizing: border-box;
    border-radius: 0px;
    border-radius: 0px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
}

#cardtable {
    margin: 0;
}

.circle-icon {
    border: 2px solid goldenrod;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 10px;
}

@media(min-width : 992px) {

    .container-fluid,
    .container {
        margin: 0;
        padding: 0;
    }

    body {
        padding-top: 0;
    }

    #bar {
        margin: 0;
    }

    #lef {
        padding-left: 8rem;
    }

    #sideNav {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 5rem;
        height: 100%;
        flex-direction: column;
        text-align: center;
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
        margin-top: 3rem;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
        margin-bottom: 2.5rem;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item:first-child {
        margin-top: 2rem;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}